[database]
;1-oracle 2-mysql 3-postgree
type_connection=2

[oracle]
oracle=

[mysql]
username=root
password=3151020
hostname=localhost
database=rep_gen

[srez]
srez_f1=f1_2020_11
srez_f2=f2_2020_11
srez_f3=f3_2020_11
srez_f4=f3_2020_11
srez_f1_f4=tbl_f1_f4_2020_11
srez_f5=f5_2020_11
srez_f6=f6_2020_11